$c-black: #1b1b1b;
$c-white: #fffafa;

$c-primary: #9a4ed7;
$c-primary-light: #dcc2e8;
$c-primary-dark: #00c89a;

$c-cta: #fc9572;
$c-cta-light: #fdb69e;
$c-cta-dark: #b04e2c;

$c-success: #00ff64;
$c-warning: #ffca0b;
$c-error: #fc3434c3;
