$c-black: #1B1B1B;
$c-white: #fffafa;

$c-primary: #00FFC8;
$c-primary-light: #8CFFE6;
$c-primary-dark: #00C89A;

$c-cta: #FC9572;
$c-cta-light: #fdb69e;
$c-cta-dark: #B04E2C;

$c-success: #00FF64;
$c-warning: #ffca0b;
$c-error: #fc3434c3;